{% extends 'base.html' %}
{% block title %} Profile {% endblock %}
{% load staticfiles %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'profile.css' %}"> 
{% endblock %}
{% block content %}
	<div class="col-sm-offset-2 col-sm-4">
        <div class="detail">   
            <div class="field">Name</div>
            <div class="value">{{ request.user.first_name }} {{ request.user.last_name }} </div>
        </div>
        <div class="detail">   
            <div class="field">Email</div>
            <div class="value">{{ request.user.email }}</div>
        </div>
        <div class="detail">   
            <div class="field">Username</div>
            <div class="value">{{ request.user.username }}</div>
        </div>
        <div class="detail">   
            <div class="field">Password</div>
            <div class="value">(<a href=#>change</a>)</div>
        </div>
        <div class="detail">   
            <div class="field">Staff</div>
            <div class="value">{% if request.user.is_staff %} Yes {% endif %}</div>
        </div>
{% endblock %}
